<section class="form-section work-experience-section">
  <h2>Work Experience</h2>
  <form [formGroup]="workExperienceForm" (ngSubmit)="onSubmit()">
    <div formArrayName="work">
      <div *ngFor="let block of placeOfWorkBlocks.controls; let i = index" [formGroupName]="i" class="form-group">
        <div class="form-group">
          <label for="placeOfWork{{i}}">Place of work</label>
          <input
            type="text"
            id="placeOfWork{{i}}"
            class="form-control"
            placeholder="Enter place of work name"
            formControlName="placeOfWork"
          />
          <div *ngIf="block.get('placeOfWork')?.touched && block.get('placeOfWork')?.invalid">
            <small class="text-danger" *ngIf="block.get('placeOfWork')?.hasError('required')">Place of work is
              required.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="position{{i}}">Position</label>
          <input
            type="text"
            id="position{{i}}"
            class="form-control"
            placeholder="Enter position"
            formControlName="position"
          />
          <div *ngIf="block.get('position')?.touched && block.get('position')?.invalid">
            <small class="text-danger" *ngIf="block.get('position')?.hasError('required')">Position is
              required.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="startYear{{i}}">Start Year</label>
          <input
            type="number"
            id="startYear{{i}}"
            class="form-control"
            placeholder="Enter start year"
            formControlName="startYear"
          />
          <div *ngIf="block.get('startYear')?.touched && block.get('startYear')?.invalid">
            <small class="text-danger" *ngIf="block.get('startYear')?.hasError('required')">Start year is
              required.</small>
            <small class="text-danger" *ngIf="block.get('startYear')?.hasError('min')">Year cannot be less than
              1900.</small>
            <small class="text-danger" *ngIf="block.get('startYear')?.hasError('max')">Year cannot be greater than
              current
              year.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="endYear{{i}}">End Year</label>
          <input
            type="number"
            id="endYear{{i}}"
            class="form-control"
            placeholder="Enter end year"
            formControlName="endYear"
          />
          <div *ngIf="block.get('endYear')?.touched && block.get('endYear')?.invalid">
            <small class="text-danger" *ngIf="block.get('endYear')?.hasError('required')">End year is required.</small>
            <small class="text-danger" *ngIf="block.get('endYear')?.hasError('min')">Year cannot be less than
              1900.</small>
            <small class="text-danger" *ngIf="block.get('endYear')?.hasError('max')">Year cannot be greater than current
              year.</small>
          </div>
        </div>

        <button type="button" class="btn btn-danger" (click)="removeBlock(i)">&#10005;</button>
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="addBlock()">+</button>

    <button type="submit" class="btn btn-primary">Result</button>
  </form>
</section>
