section.form-section .form-group input[type="checkbox"] {
  width: auto;
}

section.form-section .form-group .higher-education-label {
  display: inline;
}

.higher-education-checkbox {
  margin-top: 15px;
}
